*{
    margin: 0;
    padding: 0;
}
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    height: 110px;
    background-color: #696969d4;
    z-index: 999;
    opacity: 0.9;
}
.head{
    color: #70ebff;
    position: absolute;
    margin-left: 102px;
}
.head2{
    font-family: 'Faster One', cursive;
    font-size: 63px;
    margin-right: -6px;
}
#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
    margin-left: 57%;
}
#navbar ul li{
    list-style: none;
    font-size: 1.2rem;
    margin-top: -10px;
}

#navbar ul li a{
    color: white;
    padding: 3px 25px;
    border-radius: 20px;
    text-decoration: none;
    font-size: 21px;
}
#navbar ul li a:hover{
    background: #8684ff;
}

#btn1{
    /* border: 2px solid black;
    width: 143px;
    height: 49px;
    font-size: 17px;
    border-radius: 15px; */
    background: #31124b;
    color: white;
    border: 2px solid #fa9e1b;
    width: 165px;
    height: 47px;
    border-radius: 21px;
    font-size: 19px;
    margin-left: 2%;
    /* margin-top: 6px; */
}
#btn1:hover{
    background: #fa9e1b;
    cursor: pointer;
}



#img img{
    /* position:; */
    /* top: 0; */
    /* width: 100%; */
    /* object-fit: none; */
    /* background-repeat: no-repeat, no-repeat;
    background-size: 50% 100%;
    background-position: left top, right top; */
    object-fit: cover;
    object-position: center;
    height: 689px;
    width: 100%;
    margin: -110px 0 0 0;
}
#img1 img{
    margin: -546px 0px 0px 1363px;
}

#heading{
    margin: -427px 0 0 777px;
    font-size: 60px;
    color: white;
    z-index: 25;
    background: black;
    width: 30%;
    text-align: center;
    height: 50px;
}
#heading h1{
    font-size: 60px;
    color: white;
    background-color: black !important;
}

#vtour{
    background: gainsboro;
}

#vtour iframe{
    margin: 412px 145px 77px 191px;
    width: 80%;
    height: 633px;
}


/* #information{
    display: flex;
    flex-direction: row;
} */
.imginfo{
    display: flex;
    flex-direction: row;
}
.imginfo img{
    width:951px
}
.para{
    background-color: #E9E0DB;
}
.imginfo p{
    
    margin: 198px 0;
    /* width: 951px; */
    /* background-color: rgb(193 97 97); */
    font-size: 18px;
    text-align: center;
    justify-content: center;
    /* margin: auto;  */
}






/* * {
    font-family: "Open Sans";
    box-sizing: border-box;
    text-align: center;
    color: #fff;
  } */
  /* html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  } */

  .hero-wrapper {
    position: fixed;
    bottom: 0;
    right: 0;
    height: auto;
    width: auto;
    min-height: 100%;
    min-width: 100%;
    z-index: -9999;
  }

  .hero-wrapper figure {
    margin: 0;
    position: relative;
    
  }
  .hero-wrapper figure h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    /* border-right: 3px solid rgb(87, 116, 163); */
    padding: 5px 10px 5px 5px;
  }

  .hero-wrapper video {
    width: 100%;
    max-width: 100%;
    /* opacity: 0.8; */
    /* background-color: rgba(0, 23, 64, 0.297);` */
  }

  .stretch {
    height: auto;
    background: #F72B2B;
    min-height: 100%;
    min-width: 100%;
    background-size: cover;
    margin-top: 800px;
    
  }
  .stretch h1 {
    padding: 20px;
    height: 303px;
    margin-top: -189px;

  }


  .overlay
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #747474;
  mix-blend-mode: overlay;
}
/* .imginfo p{
    width: 100%;
} */
/* #video{
    width:320px;
    height:1240px; 
} */